$text-color: #1e3a33
$one-color: #e8d0e6
$two-color: #bdb3c5
$footer-color: #b9c0dc
$bor-menu-color: #bdb3c5
$box-color: #e5e5ec
$news-hover-color: #ffffff6e
$back-color: #f9f8ef
$input-color: #c79ebebd
$input-color-act: #9c528cbd
$g-header-color: #f5efed